@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?r1opj3');
    src: url('../fonts/icomoon.eot?r1opj3#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?r1opj3') format('truetype'), url('../fonts/icomoon.woff?r1opj3') format('woff'), url('../fonts/icomoon.svg?r1opj3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
    content: "\e900";
}

.icon-github:before {
    content: "\e901";
}

.icon-twitter:before {
    content: "\e902";
}

.icon-mail:before {
    content: "\e903";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "Roboto", sans-serif;
}

.resume {
    background-color: white;
    display: grid;
    grid-template-columns: minmax(auto, 1120px);
    justify-content: center;
    padding: 32px 15px;
}

.resume-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "lateral about-me" "lateral about-me" "lateral experience" "lateral education" "lateral skills" "lateral achievements" "lateral courses" "lateral contact";
    grid-gap: 15px;
}

.section-container {
    padding: 20px 0;
    border-top: 1px solid #9b9b9b;
}

.section-simple {
    max-width: 850px;
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.5;
}

.section-information {
    padding: 20px 10px 20px 10px;
}

.section-title {
    width: 100%;
    margin: 0;
    font-size: 1em;
    line-height: 20px;
    padding: 5px 0px 15px 0;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.resume-container__lateral {
    background-color: #1f1f1f;
    grid-area: lateral;
    min-height: 800px;
    height: 100%;
    color: white;
}

.resume-container__lateral .section-container {
    padding-left: 15px;
    border-top: 0;
    width: 100%;
}

.resume-container__lateral .section-title {
    border-bottom: 1px solid #9b9b9b;
}

.contact-information__container {
    display: flex;
    flex-direction: column;
}

.contact-information__description {
    font-size: 0.9em;
}

.contact-information__item span {
    font-weight: bold;
    text-transform: uppercase;
}

.contact-information__item:not(:last-child) {
    margin-bottom: 10px;
}

.section-language-information {
    font-weight: 300;
    font-size: 0.8rem;
}

.list-languages__container {
    display: flex;
    flex-direction: column;
}

.list-language__name {
    text-align: left;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.resume-container__about-me {
    grid-area: about-me;
    margin-bottom: 5px;
}

.header-title {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.header-image__wrapper {
    display: flex;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.header-image {
    width: 100%;
}

.header-image img {
    object-fit: cover;
    width: 220px;
    height: auto;
}

.header-image--rounded {
    overflow: hidden;
    border-radius: 100%;
    height: 150px;
}

.resume-container__about-me .section-container {
    border-top: 0;
}

.header-title__fullname {
    font-size: 1.8em;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.header-title__description {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 85%;
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.5;
}

.resume-container__experience {
    grid-area: experience;
}

.resume-container__education {
    grid-area: education;
}

.resume-container__skills {
    grid-area: skills;
}

.resume-container__achievements {
    grid-area: achievements;
}

.resume-container__courses {
    grid-area: courses;
}

.list-item {
    display: flex;
}

.list-item:not(:last-child):not(:nth-child(2)) {
    margin-bottom: 20px;
}

.list-item:not(:nth-child(2)) {
    padding-top: 20px;
}

.list-item__info {
    padding-right: 30px;
    position: relative;
    width: calc((100% / 14) * 5);
}

.list-item__info::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9b9b9b;
    border-radius: 50%;
}

.list-item:not(:last-child) .list-item__info::after {
    height: calc(100% + 100px);
}

.list-item__info::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: calc(15px / 2);
    background-color: #9b9b9b;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.list-simple__container--inside {
    list-style-position: inside;
}

.simple-list__item {
    font-weight: 300;
    font-size: 0.9rem;
}

.info__title {
    font-size: 1.1em;
}

.info__title b {
    color: black;
    font-weight: bold;
}

.info__extra {
    font-weight: bold;
    font-size: 0.9rem;
}

.info__city {
    font-size: 0.8rem;
}

.info__date {
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
}

.list-item__description {
    text-align: left;
    width: calc((100% / 14) * 9);
    padding-left: 22px;
    font-weight: 300;
    font-size: 0.8rem;
}

.social_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-top: 0.8em;
}

.social-link__item {
    padding: 10px;
    width: 75%;
    height: 100%;
    text-align: center;
    font-size: 2.1em;
    color: white;
    text-decoration: none;
}

.social-link__item:hover {
    color: #929292;
}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.skill-container__skill-item {
    font-size: 0.8em;
    width: 50%;
    margin: 0 0.6em 0.1em 0;
    list-style-type: none;
}

.progress-bar {
    border-radius: 3px;
    text-align: center;
    font-size: 0.6em;
    height: 15px;
    width: 200px;
    background-color: lightgrey;
}

.progress-bar__container {
    border-radius: 3px;
    height: 15px;
    background-color: #9b9b9b;
}

@media screen and (max-width: 1024px) {
    .skill-container__skill-item {
        font-size: 0.8em;
        margin: 0 0.5em 0.3em 0;
        width: 40%;
    }
    .progress-bar {
        height: 15px;
        width: 30%;
    }
    .progress-bar__container {
        height: 15px;
    }
    .social-link__item {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 768px) {
    .resume-container {
        grid-template-columns: 1fr;
        grid-template-areas: "about-me" "about-me" "experience" "education" "skills" "achievements" "courses" "lateral";
    }
    .resume-container__about-me {
        padding: 15px 10px 0 10px;
        margin-bottom: 0;
    }
    .header-title__fullname {
        font-size: 1.6em;
    }
    .header-title__role {
        font-size: 1.4em;
    }
    .header-title__description {
        width: 100%;
        margin-top: 0.2em;
        font-size: 0.8em;
    }
    .list-container {
        grid-template-columns: 1fr
    }
    .list-item:not(:last-child):not(:nth-child(2)) {
        margin-bottom: 0.6em;
    }
    .list-item:not(:nth-child(2)) {
        padding-top: 0.6em;
    }
    .list-item__info::before {
        width: 11px;
        height: 11px;
    }
    .list-item__info::after {
        right: calc(10px / 2);
    }
    .simple-list__item {
        font-weight: 300;
        font-size: 0.8em;
    }
    .info__title {
        font-size: 1em;
    }
    .info__extra {
        font-size: 0.8rem;
    }
    .info__city {
        font-size: 0.8em;
    }
    .info__date {
        font-size: 0.8em;
    }
    .list-item__description {
        width: calc((100% / 12) * 9);
        font-size: 0.8em;
        padding-left: 25px;
    }
    .resume-container__lateral {
        min-height: 480px;
        width: 100%;
    }
    .resume-container__lateral .section-title {
        font-size: 0.8em;
    }
    .contact-information__description {
        font-size: 0.8em;
    }
    .section-information {
        padding: 20px 10px 10px 10px;
    }
    .resume-container__experience {
        padding-left: 10px;
        padding-right: 10px;
    }
    .resume-container__education {
        padding-left: 10px;
        padding-right: 10px;
    }
    .resume-container__skills {
        padding-left: 10px;
        padding-right: 10px;
    }
    .resume-container__achievements {
        padding-left: 10px;
        padding-right: 10px;
    }
    .resume-container__courses {
        padding-left: 10px;
        padding-right: 10px;
    }
    .social_container {
        grid-template-columns: repeat(4, 1fr);
    }
    .section-simple {
        font-size: 0.8em;
        width: 100%;
    }
    .skill-container__skill-item {
        font-size: 0.8em;
        margin: 0 0.6em 0.4em 0;
        width: 50%;
    }
    .progress-bar {
        height: 15px;
        width: 40%;
    }
    .progress-bar__container {
        height: 15px;
    }
    .social-link__item {
        padding: 6px;
    }
}

@media screen and (max-width: 480px) {
    .header-title__fullname {
        font-size: 1.5em;
    }
    .header-title__role {
        font-size: 1.3em;
    }
    .header-title__description {
        width: 100%;
        margin-top: 0.2em;
        font-size: 0.7em;
    }
    .header-image img {
        object-position: 15px 40px;
        width: 140px;
    }
    .section-simple {
        font-size: 0.7em;
    }
    .skill-container__skill-item {
        font-size: 0.7em;
        margin: 0 0.6em 0.3em 0;
        width: 50%;
    }
    .progress-bar {
        height: 14px;
        width: 50%;
    }
    .progress-bar__container {
        height: 14px;
    }
}

@media screen and (max-width: 375px) {
    .header-title__fullname {
        font-size: 1.2em;
    }
    .header-title__role {
        font-size: 1em;
    }
    .section-title {
        font-size: 0.9em;
        line-height: 15px;
    }
    .info__title {
        font-size: 0.9em;
    }
    .info__extra {
        font-size: 0.7rem;
    }
    .info__date {
        font-size: 0.5rem;
    }
    .skill-container__skill-item {
        font-size: 0.7em;
        margin: 0 0.6em 0.3em 0;
        width: 150px;
    }
    .progress-bar {
        height: 14px;
        width: 180px;
    }
    .progress-bar__container {
        height: 14px;
    }
}

@media screen and (max-width: 320px) {
    .progress-bar {
        height: 12px;
        width: 120px;
    }
    .progress-bar__container {
        height: 12px;
    }
    .header-image img {
        width: 120px;
    }
}
